<!--Reference to JQuery-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading">
        Test Data from API
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered bg-info" id="Table">
            <tr>
                <th>Departure City</th>
                <th>Destination City</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Bus Company</th>
                <th>Price</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/CitiesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='DepartureCity'>" + item.departureCity + "</td>" +
                        "<td id='DestinationCity'>" + item.destinationCity + "</td>" +
                        "<td id='DepartureTime'>" + Date(item.departureTime, "dd-MM-yyyy") + "</td>" +
                        "<td id='ArrivalTime'>" + Date(item.arrivalTime, "dd-MM-yyyy") + "</td>" +
                        "<td id='BusCompany'>" + item.busCompany + "</td>" +
                        "<td id='Price'>" + item.price + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>

